/* 
Layout taken from http://css.maxdesign.com.au/floatutorial/tutorial0816.htm, with some changes.
*/

#container
{
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
border: 1px solid gray;
line-height: 130%;
}

#top
{
padding: .5em;
background-color: #fff;
border-bottom: 1px solid gray;
}

#top h1
{
padding: 0;
margin: 0;
}

#flag
{
width: 100%;
text-align: right;
}

#leftnav
{
float: left;
width: 160px;
margin: 0;
padding: 1em;
border-right: 1px solid gray;
}

#content
{
margin-left: 200px;
padding: 1em;
}

#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #6F9175; /* PL */
border-top: 1px solid gray;
}

#leftnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }
