html{
    overflow-y: scroll;
}

body{
    text-align: center;
    /*background-color:#F0EEEB;*/


    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -moz-linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -webkit-linear-gradient(45deg, #F9F6F4 44%, #DFDDDA 46%, #DFDDDA 43%, #F9F6F4 43%, #F9F6F4 86%, #DFDDDA 151%);
    -webkit-background-size: 200px 210px;
    background: -o-linear-gradient(45deg, #F9F6F4 49%, #DFDDDA 50%, #DFDDDA 46%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 103%) 0% 1%/100px 100px transparent;
    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background-size:100px 100px;
    /*    font-family: 'Tangerine', serif;*/
}

h2{
    margin: 10px;
}

.content{
    width:960px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.header{
    height:150px;
}

.footer{
    background-color: #BBBBBB;
    width:100%;
    height:40px;
    margin:10px 0px 10px 0px;
}

.logo{
    display: inline-block;
    background-image: url("logo.png.xhtml?ln=images");
    background-repeat:no-repeat;
    background-position:left top;
    width:195px;
    height:130px;
}

div#editContainer{
    position:absolute;
    width:960px;
    padding:0px;
}

.loginStuff{
    width:475px;
    float:right;
    /*    margin-top: -50px;*/
}

.logoutStuff{
    float:right;
    text-align: center;
}

.logUser{
    width: 230px;
    height: 20px;
    margin: 0px 5px 0px 0px;
}

.logPass{
    width: 230px;
    height: 20px;
    margin: 0px 0px 0px 0px;
}

.logLog{
    width: 175px;
    float: right;
}

.logForget{
    float: right;
    font-size: 75%;
}
.elements{
    padding:0px;
}

.firstColumn{
    display: inline-block;
    width:180px;
    margin:0px;
    padding:0px;
}

.secondColumn{
    display: inline-block;
    width:300px;
    margin:0px;
    padding:0px;
}

.thirdColumn{
    display: inline-block;
    width:300px;
    margin:0px;
    padding:0px;
}

.fourthColumn{
    display: inline-block;
    width:180px;
    margin:0px;
    padding:0px;
}

.one{
    height:290px;
    background-color:#DFDDDA;
    margin: 0px 5px 10px 0px;
}

.two{
    height:290px;
    background-color:#353534;
    margin: 10px 5px 0px 0px;

}

.three{
    color:white;
    float:left;
    height:590px;
    background-color:#00AAE8;
    margin: 0px 5px 0px 5px;
    width:280px;
    padding:0px 5px 0px 5px;
    -moz-box-shadow: inset 0px -8px 40px -19px #000000;
    -webkit-box-shadow: inset 0px -8px 40px -19px #000000;
    box-shadow: inset 0px -8px 40px -19px #000000;

}

.four{
    color: white;
    float:left;
    width:285px;
    height:290px;
    background-color:#353534;
    padding:0px 0px 0px 5px;
    margin: 5px 5px 0px 5px;

}

.five{
    color:black;
    float:left;
    width:285px;
    height:290px;
    background-color:#DFDDDA;
    padding:0px 0px 0px 5px;
    margin: 10px 5px 0px 5px;

}

.six{
    float:left;
    width:175px;
    height:290px;
    background-color:#DFDDDA;
    margin: 0px 0px 0px 5px;


}

.seven{
    float:left;
    height:290px;
    width:175px;
    background-color:#353534;
    margin: 10px 0px 0px 5px;


}

.error{
    color: #FFA340;
    font-weight: bold;
    /* text-shadow:0px 0px 16px #E21E1E; */
} 
.link{
    color: #2C41B1;
    font-weight: bold;
    text-decoration: none;
}
.checkBox{
    -webkit-border-radius: 0px 0px 0px 99px;
    border-radius: 0px 0px 0px 99px;
    background-image: -moz-linear-gradient(top, #a8cadc, #57b2e0);
    background-image: -ms-linear-gradient(top, #a8cadc, #57b2e0);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#a8cadc), to(#57b2e0));
    background-image: -webkit-linear-gradient(top, #a8cadc, #57b2e0);
    background-image: linear-gradient(top, #a8cadc, #57b2e0);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/

}
.hidden{
    visibility: collapse;
    font-size: 50%;
}

.regInput{
    width: 270px;
}

.regChoose{
    width: 275px;
    margin: 0px 0 -15px 0px;
}

.regWidth,#j_idt173{
    width: 134px;
}

.regButton{
    height: 30px;
    /*width: 134px;*/
    margin: 2px;
    border: 0px;
    /* background-color: #808080; */
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#DFDDDA;
    display:inline-block;
    color:#727170;
    font-family:arial;
    font-size:16px;
    font-weight:normal;
    padding:6px 27px;
    text-decoration:none;
}
.inactiveReg:hover {
    background-color: #E09041;
    color: white; 

}

.activeReg{
    background-color: #353534;
    color:white;
}

.postHeader{

}

.postContent{

}

.postTitleDate{
    float: right;
    padding-right: 10px;
}

.seeAllPostsButton{
    width:290px;
    height:63px;
    margin: -41px 0px 0px -5px;
    color: white;
    font-weight: bold;
    opacity: 0.8;
    background-color: #C9650B;
    /*background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.02) 42px, rgba(255, 255, 255, 0.12) 71px)*/
}

.hiddenButton{
    display:none;
}

#tabs{
    width: 99%;
}
#tabs-1,#tabs-2,#tabs-3,#tabs-4{
    width: 75%;
}

.noMargin{
    margin: 0px;
}

.noPadding{
    padding: 0px;
}

.regFix{
    margin-bottom: 5px;
}

.postHeader{
    font-weight: bold;
}

.postContent{

}

.postTitleDate{
    float: right;
    padding-right: 10px;
}

.hiddenButton{
    display:none;
}

#editContainer{
    display:none;
    background-color: white;
    padding:10px;
}

#latestPostsForm{
    height:100%;
}

TABLE.panelGridClass {
    width: 100%;
    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -moz-linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -webkit-linear-gradient(45deg, #F9F6F4 44%, #DFDDDA 46%, #DFDDDA 43%, #F9F6F4 43%, #F9F6F4 86%, #DFDDDA 151%);
    -webkit-background-size: 200px 210px;
    background: -o-linear-gradient(45deg, #F9F6F4 49%, #DFDDDA 50%, #DFDDDA 46%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 103%) 0% 1%/100px 100px transparent;
    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background-size:100px 100px;
}
TABLE.panelGridClass TR TD {
    height: 25px;
    margin: none;
}
TABLE.panelGridClass TR TD INPUT {
    height: 25px;
    margin: none;
}
TABLE.panelGridClass TR TD select{
    height: 25px;
    margin: 5px;
}
.editInput1{
    width: 231px;
    height: 30px;
    margin: none;
      
}
.editInput2{
    width: 345px;
    height: 30px;
    margin: none;
    border: none;
}
.editRow{
    height: 30px;
}
.editBlue{
    background-color: #00AAE8;
}
.editGray{
    background-color: #DFDDDA;
}
.editButton{
    width:189px;
    height: 30px;
    color: white;
    float: left;
    border: none;
    background: #353534;
}
TABLE.editTable{
    color: white;
    margin: none;
    width: 100%;
    border: none;
    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -moz-linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -webkit-linear-gradient(45deg, #F9F6F4 44%, #DFDDDA 46%, #DFDDDA 43%, #F9F6F4 43%, #F9F6F4 86%, #DFDDDA 151%);
    -webkit-background-size: 200px 210px;
    background: -o-linear-gradient(45deg, #F9F6F4 49%, #DFDDDA 50%, #DFDDDA 46%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 103%) 0% 1%/100px 100px transparent;
    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background-size:100px 100px;
}
TABLE.editTable tr{
    height: 30px;
    margin: none;
}
TABLE.editTable tr:nth-child(odd) td:nth-child(even){
    background: #353534;
    width: 286px;
}
/*niebieski*/
TABLE.editTable tr:nth-child(odd) td:nth-child(odd){
    background: #00AAE8; 
    width: 186px;
}
/*szary*/
TABLE.editTable tr:nth-child(even) td:nth-child(even){
    background: #DFDDDA;
    width: 286px;
}
TABLE.editTable tr:nth-child(even) td:nth-child(odd){
    background: #353534;
    
}
