html{
    overflow-y: scroll;
}
/* PODSTAWOWE STAŁE NARZĘDZIA:  */
.width100{
    width: 100%;
}
.width50{
    width: 50%;
}
.gray{
   background-color: #BBBBBB;   
}
.blue{
    background-color: #00AAE8;
}
.textBlack{
    color: black;
}
.textWhite{
    color: white;
}
.right{
    float: right;
}
.marR5{
    margin-right: 5px;
}
.marL5{
    margin-left: 5px;
}
/* /PODSTAWOWE STAŁE NARZĘDZIA:  */
body{
    text-align: center;
    /*background-color:#F0EEEB;*/


    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -moz-linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -webkit-linear-gradient(45deg, #F9F6F4 44%, #DFDDDA 46%, #DFDDDA 43%, #F9F6F4 43%, #F9F6F4 86%, #DFDDDA 151%);
    -webkit-background-size: 200px 210px;
    background: -o-linear-gradient(45deg, #F9F6F4 49%, #DFDDDA 50%, #DFDDDA 46%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 103%) 0% 1%/100px 100px transparent;
    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background-size:100px 100px;
    /*    font-family: 'Tangerine', serif;*/
}

h2{
    margin: 10px;
}

.content{
    width:960px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.header{
    height:150px;
}

.footer{
    font-weight: bold;
    color: white;
    background-color: #BBBBBB;
    width:100%;
    height:80px;
    margin:10px 0px 10px 0px;
}

.logo{
    display: inline-block;
    background-image: url("logo.png.xhtml?ln=images");
    background-repeat:no-repeat;
    background-position:left top;
    width:195px;
    height:130px;
    cursor: pointer;
}

div#editContainer{
    width:960px;
    padding:0px;
    background-color: transparent;
}

.loginStuff{
    width:475px;
    float:right;
    /*    margin-top: -50px;*/
}

.logoutStuff{
    float:right;
    text-align: center;
}

.logUser{
    width: 230px;
    height: 20px;
    margin: 0px 5px 0px 0px;
}

.logPass{
    width: 230px;
    height: 20px;
    margin: 0px 0px 0px 0px;
}

.logLog{
    width: 175px;
    float: right;
}

.logForget{
    float: right;
    font-size: 75%;
}
.elements{
    padding:0px;
}

.firstColumn{
    display: inline-block;
    width:180px;
    margin:0px;
    padding:0px;
}

.secondColumn{
    display: inline-block;
    width:300px;
    margin:0px;
    padding:0px;
}

.thirdColumn{
    display: inline-block;
    width:300px;
    margin:0px;
    padding:0px;
}

.fourthColumn{
    display: inline-block;
    width:180px;
    margin:0px;
    padding:0px;
}

.one{
    height:290px;
    background-color:#DFDDDA;
    margin: 0px 5px 10px 0px;
}

.two{
    height:290px;
    background-color:#353534;
    margin: 10px 5px 0px 0px;

}

.three{
    color:white;
    float:left;
    height:590px;
    background-color:#00AAE8;
    margin: 0px 5px 0px 5px;
    width:280px;
    padding:0px 5px 0px 5px;
    -moz-box-shadow: inset 0px -8px 40px -19px #000000;
    -webkit-box-shadow: inset 0px -8px 40px -19px #000000;
    box-shadow: inset 0px -8px 40px -19px #000000;

}

.four{
    color: white;
    float:left;
    width:285px;
    height:290px;
    background-color:#353534;
    padding:0px 0px 0px 5px;
    margin: 5px 5px 0px 5px;

}

.five{
    color:black;
    float:left;
    width:285px;
    height:290px;
    background-color:#DFDDDA;
    padding:0px 5px 0px 5px;
    margin: 10px 5px 0px 5px;

}

.six{
    float:left;
    width:175px;
    height:290px;
    background-color:#DFDDDA;
    margin: 0px 0px 0px 5px;


}

.seven{
    float:left;
    height:290px;
    width:175px;
    background-color:#353534;
    margin: 10px 0px 0px 5px;


}

.error{
    color: #FFA340;
    font-weight: bold;
    /* text-shadow:0px 0px 16px #E21E1E; */
} 
.link{
    color: #2C41B1;
    font-weight: bold;
    text-decoration: none;
}
.checkBox{
    -webkit-border-radius: 0px 0px 0px 99px;
    border-radius: 0px 0px 0px 99px;
    background-image: -moz-linear-gradient(top, #a8cadc, #57b2e0);
    background-image: -ms-linear-gradient(top, #a8cadc, #57b2e0);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#a8cadc), to(#57b2e0));
    background-image: -webkit-linear-gradient(top, #a8cadc, #57b2e0);
    background-image: linear-gradient(top, #a8cadc, #57b2e0);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/

}
.hidden{
    visibility: collapse;
    font-size: 50%;
}

.regInput{
    width: 270px;
}

.regChoose{
    width: 275px;
    margin: 0px 0 -15px 0px;
}

.regWidth{
    width: 134px;
}

.regButton{
    height: 30px;
    /*width: 134px;*/
    margin: 2px;
    border: 0px;
    /* background-color: #808080; */
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#DFDDDA;
    display:inline-block;
    color:#727170;
    font-family:arial;
    font-size:16px;
    font-weight:normal;
    padding:6px 27px;
    text-decoration:none;
}
.inactiveReg:hover {
    background-color: #E09041;
    color: white; 

}

.activeReg{
    background-color: #353534;
    color:white;
}
.postTitleDate{
    text-align: right;
}
.hiddenButton{
    display:none;
}

#tabs{
    width: 99%;
}
#tabs-1,#tabs-2,#tabs-3,#tabs-4{
    width: 98%;
}

.noMargin{
    margin: 0px;
}

.noPadding{
    padding: 0px;
}

#bdInput,#pInput{
    margin-bottom: 5px;
}

.postHeader{
    font-weight: bold;
}
.postTitleDate{
    float: right;
    padding-right: 10px;
}

.seeAllPostsButton{
    width:295px;
    height:28px;
    margin: -32px 0px 0px -5px;
    background-color: black;
    opacity: 0.8;
    color:white;
    border:0px;
}

.hiddenButton{
    display:none;
}

#editContainer{
    display:none;
    background-color: white;
    padding:10px;
}

#latestPostsForm{
    margin:0px;
    padding:0px;
    height:100%;
}

.ellipsis{
    display:inline-block;
    width:280px;
    height:40px;
}

.postContainer{
    background-color: #EEEEEE;
    padding:5px;
    margin:10px 0px 10px 0px;
}

.postsHeader{
    text-align: center;
    font-size: large;
    padding:5px;
    width:100%;
    height:35px;
}

TABLE.panelGridClass {
    width: 100%;
    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -moz-linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -webkit-linear-gradient(45deg, #F9F6F4 44%, #DFDDDA 46%, #DFDDDA 43%, #F9F6F4 43%, #F9F6F4 86%, #DFDDDA 151%);
    -webkit-background-size: 200px 210px;
    background: -o-linear-gradient(45deg, #F9F6F4 49%, #DFDDDA 50%, #DFDDDA 46%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 103%) 0% 1%/100px 100px transparent;
    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background-size:100px 100px;
}

#latestPostsForm{
    height:100%;
}

TABLE.panelGridClass {
    width: 100%;
    }
TABLE.panelGridClass TR TD {
    height: 25px;
    margin: none;
}
TABLE.panelGridClass TR TD INPUT {
    height: 25px;
    margin: none;
}
TABLE.panelGridClass TR TD select{
    height: 25px;
    margin: 5px;
}
.editInput1{
    width: 231px;
    height: 30px;
      
}
.editInput2{
    width: 345px;
    height: 30px;
}
.editRow{
    height: 30px;
}
.editButton{
    height: 30px;
    width: 100%;
    border: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#353534;
    display:inline-block;
    color:white;
    font-weight:bold;
    text-decoration:none;
}
.cancelButton{
    height: 30px;
    width: 100%;
    border: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#DFDDDA;
    display:inline-block;
    color:black;
    font-weight:bold;
    text-decoration:none;
}
.editDone{
    color: white;
    text-align: center;
}
TABLE.editTable{
    width: 100%;
    color: white;
    background-color: transparent;
   /* background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -moz-linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background: -webkit-linear-gradient(45deg, #F9F6F4 44%, #DFDDDA 46%, #DFDDDA 43%, #F9F6F4 43%, #F9F6F4 86%, #DFDDDA 151%);
    -webkit-background-size: 200px 210px;
    background: -o-linear-gradient(45deg, #F9F6F4 49%, #DFDDDA 50%, #DFDDDA 46%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 103%) 0% 1%/100px 100px transparent;
    background: linear-gradient(45deg, #F9F6F4 47%, #DFDDDA 45%, #DFDDDA 43%, #F9F6F4 48%, #F9F6F4 96%, #DFDDDA 104%);
    background-size:100px 100px;*/
}

TABLE.editTable tr{
    height: 30px;
    margin: none;
}
TABLE.editTable tr:nth-child(odd) td:nth-child(even){
    background: #353534;
    width: 286px;
}
/*niebieski*/
TABLE.editTable tr:nth-child(odd) td:nth-child(odd){
    background: #00AAE8 url("jqueryui/ui-bg_diagonals-small_75_00aae8_40x40.png.xhtml?ln=images") 50% 50% repeat;
    width: 186px;
}
/*szary*/
TABLE.editTable tr:nth-child(even) td:nth-child(even){
    background: #DFDDDA;
    width: 286px;
}
TABLE.editTable tr:nth-child(even) td:nth-child(odd){
    background: #353534;
    
}
.tmtContainer{
    border: 1px solid #00AAE8;
    background: #00AAE8 url("jqueryui/ui-bg_diagonals-small_75_00aae8_40x40.png.xhtml?ln=images") 50% 50% repeat;
    color: white;
    padding:10px;
    margin:10px 0px 10px 0px;
}
.footerCol1{
    width: 51%;
    
    
}
.footerCol2{
    width: 49%;
}
.footerGrid{
    width: 100%;
}
#addPostTitle{
    width:67%;
}
.addPostDate{
    -webkit-margin: 0 0 0 12px;
    margin: 0 0 0 10px;
}
#addPostContent{
    width: 100%;
    overflow: auto;
    height: 200px;
    resize: none;
}
.addPost{
    width: 100%;
}
.allButton{
    height: 30px;
    margin: 2px;
    border: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#DFDDDA;
    display:inline-block;
    color: #353534;
    font-family:arial;
    font-size:16px;
    font-weight:normal;
    padding:6px 27px;
    text-decoration:none;
}
.allButton:hover {
    background-color: #00AAE8;
    color: white; 
}
.allButton2{
    height: 30px;
    margin: 2px;
    border: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#DFDDDA;
    display:inline-block;
    color: #353534;
    font-family:arial;
    font-size:16px;
    font-weight:normal;
    padding:6px 27px;
    text-decoration:none;
}
.allButton2:hover {
    background-color: #E09041;
    color: white; 
}
.headerButton,editButton{
    height: 20px;
    margin: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#DFDDDA;
    display:inline-block;
    color: #353534;
    font-family:arial;
    font-size:16px;
    font-weight:normal;
    padding:6px 27px;
    text-decoration:none;
    color: black;
}
.headerButton:hover {
    background-color: #E09041;
    color: white; 
}
.addPostButton{
    width: 180px;
}
.addPostButtonMy{
    width: 100px;
}
.addPostMy{
    column-width: 20%;
}
TABLE.userTable{
    width: 100%;
    background-color: transparent;
}
TABLE.userTable tr{
    height: 30px;
    margin: none;
}
/* TABLE.userTable tr:nth-child(odd){
    background: #353534;
} */
TABLE.userTable tr:nth-child(even){
    background: #BBBBBB;
    color: white;
}
TABLE.userTable thead{
    background: #000000;
    color: white;
}
.allPostHeader{
    margin: 0 0 5px 0;
    font-weight: bold;
}
.allPostContent{
   margin: 0 5px 0 5px;
}
.allPostDate{
    float: right;
    margin: 0 0 15px 0;
}
.allPostBox{
    text-align: justify;
    
}
.allPostBox:hover{
    background: url("jqueryui/ui-bg_diagonals-small_75_00aae8_40x40.png.xhtml?ln=images") repeat scroll 50% 50% #00AAE8;
    color: white;
}
#tmtName{
    width: 69%;
}
#tmtDate{
    width: 10%;
}
.addTourContent{
    width: 100%;
    overflow: auto;
    height: 200px;
    resize: none;
}
#pointsSpinner,#roundsSpinner{
    width: 25px;
}
.tmtStartMenagingButton{
    width: 53%;
}
.hello{
    font-weight: bold;
    font-size: larger;
    color: #00AAE8;
}