body{
    text-align: center;
    background-color:white;
    /*    font-family: 'Tangerine', serif;*/
}

.content{
    width:960px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.header{
    height:150px;
}

.logo{
    display: inline-block;
    background-image: url("logo.png.xhtml?ln=images");
    background-repeat:no-repeat;
    background-position:left top;
    width:190px;
    height:130px;
}

.loginStuff{
    width:420px;
    float:right;
}

.elements{
    padding:0px;
}

.firstColumn{
    display: inline-block;
    width:180px;
    margin:0px;
    padding:0px;
}

.secondColumn{
    display: inline-block;
    width:300px;
    margin:0px;
    padding:0px;
}

.thirdColumn{
    display: inline-block;
    width:300px;
    margin:0px;
    padding:0px;
}

.fourthColumn{
    display: inline-block;
    width:180px;
    margin:0px;
    padding:0px;
}

.one{
    height:290px;
    background-color:#661F0A;
    margin: 0px 5px 10px 0px;
}

.two{
    height:290px;
    background-color:#D19956;
    margin: 10px 5px 0px 0px;
}

.three{
    float:left;
    height:590px;
    background-color:#164760;
    margin: 0px 5px 0px 5px;
    width:280px;
    padding:0px 5px 0px 5px;
}

.four{
    height:290px;
    background-color:#661F0A;
    margin: 0px 5px 10px 5px;
}

.five{
    height:290px;
    background-color:#D19956;
    margin: 10px 5px 0px 5px;
}

.six{
    height:290px;
    background-color:#D19956;
    margin: 0px 0px 10px 5px;

}

.seven{
    height:290px;
    background-color:#661F0A;
    margin: 10px 0px 0px 5px;

}

.error{
    color:red;
} 

.hidden{
    visibility: collapse;
    font-size: 50%;
}